*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d079f9;
}
.center{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px; 
    text-align: center;
    
   
}

input[type=password],input[type=text]{
    width: 80%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border:2px solid #d079f9;
}
input[type=submit]{
    background-color: #d079f9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    margin: 20px;
    border-radius: 5px;
    border: none;
}
input[type=submit]:hover{
    background-color: blue;
}
a{
    margin-top: 5px;
    text-decoration: none;
}
.new{
    margin-bottom: 5px;
}
h2{
    margin: 20px;
    border-bottom: 1px solid silver;
}